@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Quicksand", "Montserrat", monospace, sans-serif;
}

.box-shadow-lite {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Light theme (default) */
main {
    background-image: url("./assets/images/pattern-background-desktop-light.svg");
}

/* Dark theme */
:root.dark main {
    background-image: url("./assets/images/pattern-background-desktop-dark.svg");
}

@media (width <= 860px) {
    main {
        background-image: url("./assets/images/pattern-background-tablet-light.svg");
        background-repeat: no-repeat;
        background-position: left top;
    }

    :root.dark main {
        background-image: url("./assets/images/pattern-background-tablet-dark.svg");
        background-repeat: no-repeat;
        background-position: left top;
    }
}

@media (width <= 480px) {
    main {
        background-image: url("./assets/images/pattern-background-mobile-light.svg");
        background-repeat: no-repeat;
    }

    :root.dark main {
        background-image: url("./assets/images/pattern-background-mobile-dark.svg");
        background-repeat: no-repeat;
    }
}